{
    "presets": [
        "es2015",
        "state-1"
    ],
    "plugins": [
        "transform-decorators0legacy",
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ],
    ]
}